body{

margin:0;

padding:0;

background:#0d1117;

font-family:Arial,Helvetica,sans-serif;

color:white;

}

.container{

max-width:800px;

margin:auto;

padding:40px;

text-align:center;

}

#loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#0d1117;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:999;

}

.barra{

width:300px;

height:20px;

background:#30363d;

border-radius:30px;

overflow:hidden;

margin-top:20px;

}

.progreso{

height:100%;

background:#58a6ff;

width:0;

animation:cargar 4s forwards;

}

@keyframes cargar{

from{

width:0%;

}

to{

width:100%;

}

}

h1{

color:#58a6ff;

font-size:42px;

}

h2{

color:#58a6ff;

}

.foto{

width:230px;

height:230px;

border-radius:50%;

object-fit:cover;

border:6px solid #58a6ff;

box-shadow:0 0 30px #58a6ff;

margin:30px;

}

button{

background:#238636;

padding:18px 35px;

border:none;

color:white;

font-size:22px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

background:#2ea043;

}

#mensaje{

display:none;

animation:aparecer 1s;

margin-top:30px;

}

video{

width:100%;

border-radius:20px;

margin-top:20px;

}

audio{

width:100%;

margin-top:20px;

}

@keyframes aparecer{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
